<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/contact.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Contact | E-waste Recycling | EcoElec </title>
</head>

<body>


    <nav>
        <div class="logo">EcoElec</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a class="" href="/">Home</a></li>
            <li><a href="/service">Facilities</a></li>
            <li><a href="/reward">Rewards</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
    </nav>

    <div class="container">
        <div class="form-container">
            <div class="left-container">
                <div class="left-inner-container">
                    <h2>Let Chat</h2>
                    <p>Whether you have a question, want to start a communications.</p>
                    <br>
                    <p>Feel free to send me a message in the contact form</p>
                </div>
            </div>
            <div class="right-container">
                <div class="right-inner-container">
                    <form action="#">
                        <h2 class="lg-view">Contact</h2>
                        <h2 class="sm-view">Let Chat</h2>
                        <p>* Required</p>
                        <!-- <div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                        </div> -->
                        <input type="text" placeholder="Name *" />
                        <input type="email" placeholder="Email *" />
                        <input type="text" placeholder="Company" />
                        <input type="phone" placeholder="Phone" />
                        <textarea rows="4" placeholder="Message"></textarea>
                        <button>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="con">
        <div class="faq-container">
            <h1>Frequently Asked Questions</h1>
            <div class="faq-item">
                <h3 class="question">What is eWaste?</h3>
                <p class="answer">eWaste (electronic waste) is a term for discarded electronic components which have
                    reached the end of their useful life. This includes items such as computers, televisions, cordless
                    phones, mobile phones, video game consoles and other electronic devices that are no longer being
                    used.</p>
            </div>
            <div class="faq-item">
                <h3 class="question">Will we get paid for giving our gadgets in recycling?</h3>
                <p class="answer">Yes, you will get paid for recycling your gadgets with EcoElec eWaste. We offer a
                    competitive rate for your gadgets, based on the model and condition of the device.</p>
            </div>
            <div class="faq-item">
                <h3 class="question">What are the health hazards caused by eWaste?</h3>
                <p class="answer">Improper handling and disposal of electronic waste (e-waste) can lead to health
                    hazards, including toxic chemical exposure, respiratory problems, skin disorders, cancer, and
                    adverse effects on reproductive and developmental health..
                </p>
            </div>
        </div>



        <script src="/static/engine/script.js" defer></script>
        <footer>
            <div class="footer-content">
                <p>&copy; 2023 EcoElec All rights reserved.</p>
                <ul class="social-links">
                    <li>
                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </footer>

</body>

</html>