<head>
    <meta charset="utf-8">
    <title>EcoElec</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="logo">EcoElec</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a class="" href="/">Home</a></li>
            <li><a href="/service">Facilities</a></li>
            <li><a href="/reward">Rewards</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
    </nav>

    <div class="container">
        <div class="content">
            <div class="text">
                <h2>Recycle Your E-waste</h2>
                <h2>Online with <span>EcoElec</span></h2>
                <p>One person's e-waste is another person's opportunity.</p>
            </div>
            <div class="image">
                <img src="/static/image/e-rec.jpg"
                    alt="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__480.jpg">
            </div>
        </div>
    </div>
    <header>
        <h1>How it Works</h1>
    </header>
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d56124.86224169972!2d77.47369872873111!3d28.45532753598166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1se%3D-waste%20near%20me!5e0!3m2!1sen!2sin!4v1695737308123!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <div class="card-container">
        <div class="card">
            <img src="/static/image/s_p.jpeg" alt="https://via.placeholder.com/150">
            <!-- <h3>Card 1</h3> -->
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Read More</a> -->
        </div>

        <div class="card">
            <img src="/static/image/p_a.jpeg" alt="https://via.placeholder.com/150">

        </div>

        <div class="card">
            <img src="/static/image/r_r.jpeg" alt="https://via.placeholder.com/150">

        </div>
    </div>
    <div class="map-container">
        <!-- Map section on the left -->
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d56124.86224169972!2d77.47369872873111!3d28.45532753598166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1se%3D-waste%20near%20me!5e0!3m2!1sen!2sin!4v1695737308123!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

        <!-- Text section on the right -->
        <div class="m-text">
            <h1>E-waste</h1>
            <p>Here you can find your nearest E-waste Recycle Company.</p>
            <p>EcoElec makes e-Waste disposal sustainable and clean across the country by innovating new technologies,
                making it easy for people to recycle their electronics and collaborating with various stakeholders such
                as manufacturers, collectors, recyclers and users.</p>
            <a href="service.html" class="button">Read more</a>
        </div>
    </div>

    <script src="/static/engine/script.js"></script>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 EcoElec All rights reserved.</p>
            <ul class="social-links">
                <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </footer>


</body>

</html>