<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoElec</title>
    <link rel="stylesheet" href="/static/css/erp.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <nav>
        <div class="logo">EcoElec</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a class="" href="/">Home</a></li>
            <li><a href="/service">Facilities</a></li>
            <li><a href="/reward">Rewards</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
    </nav>

    <section class="metal-recovery">
        <h2>Metal Recovered from Old Electronics</h2>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/laptop.png" alt="Metal 2">
            </div>
            <div class="card-details">
                <h3>Laptop</h3>
                <p>Total Percentage of Metals Recovered From Laptop ≈ 31.2%.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/monitor.png" alt="Metal 2">
            </div>
            <div class="card-details">
                <h3>Monitor</h3>
                <p>Total Percentage of Metals Recovered From Monitor ≈ 15.0 to 30.0%.</p>
            </div>
        </div>
        <!-- Add more cards as needed -->

        <!-- Additional 10 cards -->
        <div class="card">
            <div class="card-image">
                <img src="/static/image/microchip.png" alt="Metal 3">
            </div>
            <div class="card-details">
                <h3>Electronic device</h3>
                <p>total percent metal recovered ≈ 19.05%</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/smartphone-call.png" alt="Metal 4">
            </div>
            <div class="card-details">
                <h3>Smart-phones</h3>
                <p>Total Percentage of Metals Recovered From Smart-phones ≈ 30% to 50%.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/refrigerator.png" alt="Metal 5">
            </div>
            <div class="card-details">
                <h3>refrigerator</h3>
                <p>Total Percentage of Metals Recovered From refrigerator ≈ 25% to 36%</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/printer.png" alt="Metal 6">
            </div>
            <div class="card-details">
                <h3>Printers</h3>
                <p>Total Percentage of Metals Recovered From Printers ≈ 65% to 85%</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/robot.png" alt="Metal 7">
            </div>
            <div class="card-details">
                <h3>Electronic Toys</h3>
                <p>Total Percentage of Metals Recovered From Toys ≈ 21.2%.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/sound-system.png" alt="Metal 8">
            </div>
            <div class="card-details">
                <h3>Households</h3>
                <p>Total Percentage of Metals Recovered From Households ≈ 40%.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/defribillator.png" alt="Metal 9">
            </div>
            <div class="card-details">
                <h3>Medical devices</h3>
                <p>Total Percentage of Metals Recovered From Laptop ≈ 55% to 85%</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="/static/image/battery.png" alt="Metal 10">
            </div>
            <div class="card-details">
                <h3>Battery</h3>
                <p>Total Percentage of Metals Recovered From Battery ≈ 15%.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2023 EcoElec All rights reserved.</p>
            <ul class="social-links">
                <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>